# THIS IS AN EXAMPLE, you should copy this file to `.env`
#
# See Dockerfile (specially ENTRYPOINT)
#
# LIBFUZZ_* envs will get remapped to cli params matching libfuzz options
# FUZZ is the fuzz target each image has a default value according to build argument
#
# See https://llvm.org/docs/LibFuzzer.html#options

# Example usage
LIBFUZZ_RUNS=1000
