*.a
*.o
build/
target/
Cargo.lock
.vscode
bitcoinfuzz
bin/
obj/
*.dylib
*.so
__pycache__
main.py
corpus/# CMake build artifacts
modules/eclair/CMakeCache.txt
modules/eclair/CMakeFiles/
modules/eclair/cmake_install.cmake
modules/eclair/Makefile

# Scala/Java build artifacts
target/
/modules/eclair/Makefile
/modules/eclair/CMakeFiles/
/modules/eclair/CMakeCache.txt
/modules/eclair/cmake_install.cmake
